RevmarSoln/Connected Services/JetSms/soapsms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.jetsms.net/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://www.jetsms.net/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.jetsms.net/soap/">
      <s:element name="SendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="originator" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expiredate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="receipents" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSResult" type="tns:SendSMSResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SendSMSResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendTCKNSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="originator" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expiredate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="receipents" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTCKNSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendTCKNSMSResult" type="tns:SendSMSResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSAdvanced">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="originator" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expiredate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="receipents" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="messageType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageHeader" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSAdvancedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSAdvancedResult" type="tns:SendSMSResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportSMSResult" type="tns:ArrayOfReportSMSResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReportSMSResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReportSMSResult" nillable="true" type="tns:ReportSMSResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReportSMSResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReportOriginator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportOriginatorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportOriginatorResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportQuota">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportQuotaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportQuotaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="SendTCKNSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendTCKNSMS" />
  </wsdl:message>
  <wsdl:message name="SendTCKNSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendTCKNSMSResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMSAdvancedSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMSAdvanced" />
  </wsdl:message>
  <wsdl:message name="SendSMSAdvancedSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSAdvancedResponse" />
  </wsdl:message>
  <wsdl:message name="ReportSMSSoapIn">
    <wsdl:part name="parameters" element="tns:ReportSMS" />
  </wsdl:message>
  <wsdl:message name="ReportSMSSoapOut">
    <wsdl:part name="parameters" element="tns:ReportSMSResponse" />
  </wsdl:message>
  <wsdl:message name="ReportOriginatorSoapIn">
    <wsdl:part name="parameters" element="tns:ReportOriginator" />
  </wsdl:message>
  <wsdl:message name="ReportOriginatorSoapOut">
    <wsdl:part name="parameters" element="tns:ReportOriginatorResponse" />
  </wsdl:message>
  <wsdl:message name="ReportQuotaSoapIn">
    <wsdl:part name="parameters" element="tns:ReportQuota" />
  </wsdl:message>
  <wsdl:message name="ReportQuotaSoapOut">
    <wsdl:part name="parameters" element="tns:ReportQuotaResponse" />
  </wsdl:message>
  <wsdl:portType name="SMSServiceSoap">
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTCKNSMS">
      <wsdl:input message="tns:SendTCKNSMSSoapIn" />
      <wsdl:output message="tns:SendTCKNSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMSAdvanced">
      <wsdl:input message="tns:SendSMSAdvancedSoapIn" />
      <wsdl:output message="tns:SendSMSAdvancedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportSMS">
      <wsdl:input message="tns:ReportSMSSoapIn" />
      <wsdl:output message="tns:ReportSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportOriginator">
      <wsdl:input message="tns:ReportOriginatorSoapIn" />
      <wsdl:output message="tns:ReportOriginatorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportQuota">
      <wsdl:input message="tns:ReportQuotaSoapIn" />
      <wsdl:output message="tns:ReportQuotaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSServiceSoap" type="tns:SMSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="https://www.jetsms.net/soap/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTCKNSMS">
      <soap:operation soapAction="https://www.jetsms.net/soap/SendTCKNSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSAdvanced">
      <soap:operation soapAction="https://www.jetsms.net/soap/SendSMSAdvanced" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportSMS">
      <soap:operation soapAction="https://www.jetsms.net/soap/ReportSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportOriginator">
      <soap:operation soapAction="https://www.jetsms.net/soap/ReportOriginator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportQuota">
      <soap:operation soapAction="https://www.jetsms.net/soap/ReportQuota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSServiceSoap12" type="tns:SMSServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="https://www.jetsms.net/soap/SendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTCKNSMS">
      <soap12:operation soapAction="https://www.jetsms.net/soap/SendTCKNSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSAdvanced">
      <soap12:operation soapAction="https://www.jetsms.net/soap/SendSMSAdvanced" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportSMS">
      <soap12:operation soapAction="https://www.jetsms.net/soap/ReportSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportOriginator">
      <soap12:operation soapAction="https://www.jetsms.net/soap/ReportOriginator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportQuota">
      <soap12:operation soapAction="https://www.jetsms.net/soap/ReportQuota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSService">
    <wsdl:port name="SMSServiceSoap" binding="tns:SMSServiceSoap">
      <soap:address location="https://www.jetsms.net/soap/soapsms.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSServiceSoap12" binding="tns:SMSServiceSoap12">
      <soap12:address location="https://www.jetsms.net/soap/soapsms.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>